:root {
  --preto: #000000;
  --cinza: #cccccc;
  --branco: #ffffff;
  --verde: #daff01;
  --roxo: #9353ff;
 }
 
 * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }
 

 ul, li {
    list-style-type: none;
    padding: 0;
  }


 h3, p {
  margin: 0;
 }
 
 html,
 body {
   max-width: 100vw;
   overflow-x: hidden;
 }
 
 
 
 